<div style="position: absolute; left:0, top: 0">
    <%= image_tag "logo.png" %>
</div>

<div id="map" style="height: calc(100vh - 15px)"></div> 

<script>
    var racks = <%= raw @racksJson %>

    createMap().then(function() {
        return addSelfPosition();
    }).then(function() {
        return addRacks(racks);
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKoHy8kXXlkzOM0nZOeW-X-L1QqUa-k3Q&callback=onGoogleMapsApiLoad"
    async defer></script>
    
<div style="font-size: 10px; text-align: center">Attributation Parking graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Logo made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></div>